

/* modal */



.full-activity{
  background-color: var(--Surface);
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  animation: settings 0.3s ease-out;
  transition: all 0.2s ease-in;

}

@keyframes settings{
  0%{
      transform: translateX(20%);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
    
  }
}

.full-activity-header{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 45px;
  background-color:  var(--Secondary-Container);
  color: var(--On-Surface);
  overflow: hidden;
}

.full-activity-header p{
  margin: 0;
  font-family: 'Google';
  margin-left: 8px;
  font-size: 23px;

}

.full-activity-header button{
  color: var(--On-Surface);
  height: 40px;
  width: 40px;
  font-size: 23px;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}

.full-activity-header.round button{
  color: var(--On-Surface);
  height: 40px;
  width: 40px;
  font-size: 23px;
  display: flex;
  border-radius: 50px;
  background-color: transparent;
  align-items: center;
  border: none;
  justify-content: center;
}

.full-activity-content{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100% - 65px);
  background-color: var(--Surface);
  overflow: auto;
}

.full-activity.open{
  display: block;
  transition: none;
  animation: historyItems 0.4s cubic-bezier(0,1,0,1);

}

/* v2 */

.full-activity-header-v2{
  background-color: var(--Secondary-Container);
  color: var(--On-Surface);
  display: flex;
  padding: 10px;
  height: 45px;
  width: 100%;
 align-items: center;
 justify-content: space-between;
 overflow: hidden;
}

.full-activity-header-v2 div{
  display: flex;
  align-items: center;
}

.full-activity-header-v2 p{
  margin: 0;
  font-size: 23px;
  font-family: 'Google';
  margin-left: 8px;
}

.full-activity-header-v2 button{
  height: 40px;
  width: 40px;
  color: var(--On-Surface);
  font-size: 23px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;

}

.full-activity-header-v2.round button{
  color: var(--On-Surface);
  height: 40px;
  width: 40px;
  font-size: 23px;
  display: flex;
  border-radius: 50px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.icon2{
  margin-right: 10px;
}

.full-activity-header-v2.transparent{
  background-color: transparent;
  z-index: 1; transition: background-color 0.15s ease-in;

}

.full-activity-header.transparent{
  background-color: transparent;
  z-index: 1;
  transition: background-color 0.17s ease-in;

}

.full-activity-header-v2.no-width{
  width: auto;
}
.full-activity-header-v2.no-width .icon2{
  margin-right: 0;
  }

  .full-activity-header.search_type{
    padding-left: 10px;
  }

  .full-activity-header-v2.stick{
    position: sticky;
    top: 0;
    z-index: 1;
 }

 .full-activity-header-v2.surface{
  background-color: var(--Surface);
  z-index: 1; transition: background-color 0.15s ease-in;

 }

 .full-activity-header-v2.surface-fill{
  background-color: var(--Surface-Container);
 }



/* large-activity */

.activity-large-content{
  width: 100%;
  position: fixed;
  bottom: 0;
  color: var(--On-Surface);
  overflow: auto;
  height: calc(100% - 65px);
  scroll-snap-type: y proximity;
}


.header-activity-large{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 45px;
  color: var(--On-Surface);
  transition: background-color 0.17s ease-in ;

}

.header-activity-large p{
  margin: 0;
  font-family: 'Google';
  margin-left: 8px;
  font-size: 23px;
  opacity: 0;

}

.content-parent-large{
  scroll-snap-align: none;
  padding-bottom: 10px;
  background-color: var(--Surface);
}


.header-activity-large button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--On-Surface);
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50px;
  
}

.label-large-main{
  font-size: 35px;
  padding-left: 20px;
  padding-top: 40px;
  scroll-snap-align: start;
  margin: 0;
  padding-bottom: 20px;
  font-family: var(--outfit);
}


.activity-large{
  background-color: var(--Surface);
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  animation: settings 0.3s ease-out;
  transition: all 0.2s ease-in;
}



.activity-large.open{
  display: block;
  transition: none;
  /* animation: none; */
  animation: historyItems 0.4s cubic-bezier(0,1,0,1);
}








 
   /* switch -- 
   
      <label class="md3 switch">
                <input type="checkbox"  name="darkmode" >
                <span class="slider">
                  <span class="icon-class-outlined icon">done</span>
                </span>
              </label>

   */


   /* checkbox -- 
   

   <label class="checkbox">
        <input type="checkbox">
        <span></span>
      </label>

   */


   /* loader --


  <circle-loader data-size="48" data-thick="3"></circle-loader>

   
   */

    /* header -v2

    <div class="full-activity-header-v2">
            <div>
            <button class="ripple-icon-btn"  ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
                <span class="ripple-effect-icon" ></span>
                <span class="icon-class-outlined">arrow_back</span>
            </button>
            <p>Your Heading</p></div>

            <button class="ripple-icon-btn icon2" ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
                <span class="ripple-effect-icon"></span>
                <span class="icon-class-outlined">done</span>
            </button>
        </div>

   */

   /* header- normal

   <div class="full-activity-header">
            <button class="ripple-icon-btn close" ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
                <span class="ripple-effect-icon"></span>
                <span class="icon-class-outlined">arrow_back</span>
            </button>
    
            <p>Your Heading</p>
        </div>
   */

   /* activity-full --
     <div class="full-activity">
         <div class="full-activity-content">

      </div>
      </div>
   
   */




   /* 3dot- menu--
   <button class="ripple-icon-btn menu-toggle-btn" onclick="toggleMenu()"  ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
        <span class="ripple-effect-icon"></span>
        <span class="icon-class-filled">more_vert</span>
    </button>


     --main--

   <div class="menu" id="menu">
        <div class="menu-content">
          <button class="md-ripples ripples-bounded menu-btn">Action</button>
          <button class="md-ripples ripples-bounded menu-btn">1 more</button>
          <button class="md-ripples ripples-bounded menu-btn">settings</button>
          <button class="md-ripples ripples-bounded menu-btn">about</button>
        </div>
      </div>
   */



   /* dialog-regular ----
   
   <div class="modalRegular" data-modal-id="modal1">
        <div class="modalRegularContent">
            <p>Modal Heading</p>
            <span>Supporting text</span>
            <div class="modal-buttons">
                <button data-modal-close="modal1" class="md-ripples ripples-dialog">Cancel</button>
                <button data-modal-close="modal1" class="md-ripples ripples-dialog">Confirm</button>
            </div>
        </div>
    </div>

    --change id no. use more dialogs---

    dialog toggle

        <button data-modal-open="modal1">Open dialog</button>


        ---Button-filled

                <button data-modal-close="modal1" class="md-ripples ripples-dialog fill">Confirm</button>
        
   
   */





   /* bottom-nav-tabs ---
   
       <div class="tab-content" id="tab-content-0"></div>
    <div class="tab-content" id="tab-content-1"></div>
    <div class="tab-content" id="tab-content-2"></div>


    <div class="nav-tab" id="nav-tab">
        <div class="main-btn">
          <div class="btn-nav">
            <button id="notes" class="nav-icon tab" onclick="showTab(0)">image</button>
            <label class="label" for="notes">Images</label>
          </div>
          <div class="btn-nav">
            <button id="todo" class="nav-icon tab" onclick="showTab(1)">folder_special</button>
            <label class="label" for="todo">Favorites</label>
          </div>
          <div class="btn-nav">
            <button id="timer" class="nav-icon tab" onclick="showTab(2)">draw</button>
            <label class="label" for="timer">Create</label>
          </div>
        </div>
    </div>
   
   */



   /* snackbar Usages ----
   
   NORMAL ONE --

   ShowSnack('Hi this is a Snack', 5000, 5);

   Action one ---

   showSnackbarAction({
    text: 'Snackbar Text',
    actionText: 'Action',
    bottomPosition:'5',
    manualDismiss: false, 
        timeout: 5000 ,
    onActionClick: function(element) {
        alert('Custom Action Clicked!');
    }

});
   

   
   */



   /* input-fields ---
   
   OUTLINED --   
   
   <label class="md-input-field-outlined">
    <input placeholder=" ">
    <span>Textfield</span>
  </label>


  FILLED --

    <label class="md-input-field-filled">
    <input placeholder=" ">
    <span>Enter Your Name</span>
  </label>

 
   
   
   */



   /* radio ----
   
   <label class="Md-radio">
    <input type="radio" name="group" >
    <span></span>
</label>
   
   */


   /* full-activity-larger use ----- 
       <div class="activity-large">
        <div class="header-activity-large">
            <button class="ripple-icon-btn" ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
                <span class="ripple-effect-icon"></span>
                <span class="icon-class-outlined">arrow_back</span>
            </button>
            <p class="label-hidden-large">Small Header</p>
        </div>
        <div class="activity-large-content">
            <p class="label-large-main">Big Header</p>
           <div class="content-parent-large">
    

           </div>
        </div>
    </div>

   */