* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    outline: none;
    --Surface: #334151;
    --On-Surface: #e0e2e8;
    --On-Surface-Variant: #b9c8da;
    --Outline-Variant: #3f4955;
    --Primary: #9ccbfb;
}

p{
    margin: 0;
}

body {
    background-color: #334150;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--outfit);
    animation: opacity 0.3s ease-out;

}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.full-activity-content::before {
    position: fixed;
    bottom: 0;
    content: '';
    width: 100%;
    background: linear-gradient(0deg, var(--Surface) 10%, rgba(255, 0, 0, 0));
    height: 30px;
    z-index: 1;
}

[hidden]{
    display: none !important;
}


.loader_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    background-color: var(--Surface);
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    --md-circular-progress-size: 55px;
    transition: opacity 0.2s ease-in;
}

forecastDateHeader{
    display: flex;
    overflow: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid  var(--Outline-Variant);
}


forecastDateHeader .forecastDateHeaderContent{
    flex-shrink: 0;
    height: 100px;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #253648;
    padding: 5px 5px;
    position: relative;
    border-radius: 10px;
    gap: 10px;
}

forecastDateHeader .forecastDateHeaderContent.selected{
    background-color: #011d33;
    pointer-events: none;
}

forecastDateHeader .forecastDateHeaderContent.selected::before{
    opacity: 1;
}


forecastDateHeader .forecastDateHeaderContent::before{
    content: '';
    width: 40%;
    height: 4px;
    background-color: var(--Primary);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    position: absolute;
    bottom: -15px;
    border-radius: 50px 50px 0 0;
    z-index: 1;
}

forecastDateHeader .forecastDateHeaderContent img{
    width: 30px;
}

forecastDateHeader .forecastDateHeaderContent div p{
    color: var(--On-Surface);
    font-family: var(--google-normal);
    font-size: 15px;

}

forecastDateHeader .forecastDateHeaderContent div span{
    color: var(--On-Surface-Variant);
    font-family: var(--google-normal);
    font-size: 15px;

}

forecastDateHeader .forecastDateHeaderContent > span{
    color: var(--On-Surface);
    font-family: var(--google-mid);
    font-size: 16.5px;
}

forecastMainDetails{
    display: flex;
    flex-direction: column;
}

forecastMainDetails .forecastTempConditionMainContent .top-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > p{
    color: #e9eef7;
    font-family: var(--google-mid);
    font-size: 20px;
    padding-bottom: 5px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge p{
    color: #e0e3ea;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge span{
    color: #b9c8db;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge{
    font-size: 56px;
    flex-shrink: 0;
    font-family: var(--google-mid);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div{
    display: flex;
    align-items: center;
}

weatherConditionText{
    color: var(--Primary);
    text-transform: capitalize;
    font-family: var(--outfit-mid);
    font-size: 18px;
    padding-top: 5px;
}

.daily-conditions-title{
    padding-left: 15px;
    font-weight: 600;
    color: #d0e2f8;
    margin-top: 40px;
    font-size: 20px;
  }


.daily-conditions{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.daily-conditions-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.daily-conditions-wrap > div{
    background-color: #0d1d2a;
    border-radius: 15px;
}

.daily-conditions-wrap > div svg{
    height: 120px;
    width: 120px;
    flex-shrink: 0;
}

conditionicon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

}

.daily-conditions-wrap > div p{
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    font-family: var(--outfit);
    color: var(--On-Surface-Variant);
}

.daily-conditions-wrap > div span{
    padding: 10px;
    display: flex;
    padding-left: 15px;
    color: var(--On-Surface);
    font-size: 20px;
    font-family: var(--outfit-mid);
}

.sunrise-sunset-forecast{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sunrise-sunset-forecast .sunrise-sunset-item{
    background-color: #0d1d2a;
    border-radius: 15px;
    width: 100%;
}

.sunrise-sunset-forecast .sunrise-sunset-item > div > svg{
    width: 100px;
    height: 100px;
}

.sunrise-sunset-forecast .sunrise-sunset-item > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunrise-sunset-forecast .sunrise-sunset-item p{
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    font-family: var(--outfit);
    color: var(--On-Surface-Variant);
}

.sunrise-sunset-forecast .sunrise-sunset-item span{
    padding: 10px;
    display: flex;
    padding-left: 15px;
    color: var(--On-Surface);
    font-size: 20px;
    font-family: var(--outfit-mid);
}