* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    outline: none;
}

p{
    margin: 0;
}

body {
    background-color: var(--Surface);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--outfit);
    animation: opacity 0.3s ease-out;

}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.full-activity-content::before {
    position: fixed;
    bottom: 0;
    content: '';
    width: 100%;
    background: linear-gradient(0deg, var(--Surface) 10%, rgba(255, 0, 0, 0));
    height: 30px;
    z-index: 9999;
}

[hidden]{
    display: none !important;
}


.loader_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    background-color: var(--Surface);
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    --md-circular-progress-size: 55px;
    transition: opacity 0.2s ease-out;
}

forecastDateHeader{
    display: flex;
    overflow: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid  var(--Outline-Variant);
}


forecastDateHeader .forecastDateHeaderContent{
    flex-shrink: 0;
    height: 140px;
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Surface-Container-Low);
    padding: 5px 5px;
    position: relative;
    border-radius: 50px;
    gap: 10px;
}

forecastDateHeader .forecastDateHeaderContent.selected{
    background-color: var(--Primary);
    pointer-events: none;

}

forecastDateHeader .forecastDateHeaderContent.selected p{
    color: var(--On-Primary) !important;
}

forecastDateHeader .forecastDateHeaderContent.selected div span{
    color: var(--On-Primary) !important;
    opacity: 0.8;
}
forecastDateHeader .forecastDateHeaderContent.selected span{
    color: var(--On-Primary) !important;
}

forecastDateHeader .forecastDateHeaderContent.selected::before{
    opacity: 1;
}


forecastDateHeader .forecastDateHeaderContent::before{
    content: '';
    width: 40%;
    height: 4px;
    background-color: var(--Primary);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    position: absolute;
    bottom: -15px;
    border-radius: 50px 50px 0 0;
    z-index: 1;
}

forecastDateHeader .forecastDateHeaderContent img{
    width: 30px;
}

forecastDateHeader .forecastDateHeaderContent div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

forecastDateHeader .forecastDateHeaderContent div p{
    color: var(--On-Surface);
    font-family: var(--google-mid);
    font-size: 17px;

}

forecastDateHeader .forecastDateHeaderContent div span{
    color: var(--On-Surface-Variant);
    font-family: var(--google-mid);
    font-size: 17px;

}

forecastDateHeader .forecastDateHeaderContent > span{
    color: var(--On-Surface);
    font-family: var(--google-mid);
    font-size: 16.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}


forecastMainDetails{
    display: flex;
    flex-direction: column;
}

forecastMainDetails .forecastTempConditionMainContent .top-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > p{
    color: var(--On-Surface);
    font-family: var(--google-mid);
    font-size: 20px;
    padding-bottom: 5px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge p{
    color: var(--On-Surface);
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge span{
    color: var(--On-Surface-Variant);
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div > tempLarge{
    font-size: 56px;
    flex-shrink: 0;
    font-family: var(--google-mid);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

forecastMainDetails .forecastTempConditionMainContent .top-details > div{
    display: flex;
    align-items: center;
}

weatherConditionText{
    color: var(--Primary);
    text-transform: capitalize;
    font-family: var(--outfit-mid);
    font-size: 18px;
    padding-top: 5px;
}

.daily-conditions-title{
    padding-left: 15px;
    font-weight: 600;
    color: var(--Secondary);
    margin-top: 40px;
    font-size: 20px;
  }


.daily-conditions{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.daily-conditions-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;
            padding-bottom: 30px;
}
.current_condition_icon{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
  }

  .current_condition_icon svg{
    height: 100%;
  }

  .currentConditionItem .currentConditionItemTitle{
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-family: var(--outfit);
    z-index: 2;
  }

  .currentConditionItem .currentConditionItemTitle i{
    font-size: 23px;
  }

.currentConditionItem.sunRISESET{
    background-color: var(--Surface-Container-Low);
   display: flex;
    overflow: hidden;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    width: 160px;
    height: 160px;
  }



  .currentConditionItem.sunRISESET
  .current_condition_icon {
    bottom: -5px;
     height: unset !important;
  }



  .sun_tracker img{
    width: 30px;
    height: 30px;
  }



  .sun_tracker {
    position: absolute;
    bottom: 20%;
    left: 0;
    transform: translateY(-20%);
  }





  .currentConditionItem.sunRISESET::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1.5px solid var(--Outline);
    z-index: 1;
  }



  .sunset_sunrise_text_block{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    color: white;
    z-index: 1;
  }



  .sunset_sunrise_text_block div md-icon{
    font-size: 18px;
  }



  .sunset_sunrise_text_block div {
    display: flex;
    align-items: center;
  }



  .sunset_sunrise_text_block div p{
    margin: 0;
  }



.currentConditionItem.humidity{
    background-color: var(--Surface-Container-Low);
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    width: 160px;
    height: 160px;
  }

  .currentConditionItem .currentConditionItemHumidityValue{
    color: var(--On-Surface);
    font-family: var(--google-mid);
    font-size: 50px;
    z-index: 1;
    padding-left: 10px;
    position: absolute;
    top: 0px;
    margin: 0;
    left: 0;
  }

  .currentConditionItem .currentConditionItemDewpointValue p{
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin: 0;
    background-color: var(--Primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--On-Primary);
    font-family: var(--outfit-mid);

  }

  .currentConditionItem .currentConditionItemDewpointValue span{
    color: var(--Primary);
    font-family: var(--outfit-mid);
    font-size: 14px;
  }

  .currentConditionItem .currentConditionItemDewpointValue{
    position: absolute;
    bottom: 10px;
    left: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  /* pressure */


.currentConditionItem.pressure{
    background-color: var(--Surface-Container-Low);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 160px;
    width: 160px;
  }

  .currentConditionItem.pressure .currentConditionItemPressureValue{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
  }

  .currentConditionItem.pressure .currentConditionItemPressureValue div{
    color: var(--On-Surface-Variant);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .currentConditionItem.pressure .currentConditionItemPressureValue div i{
    font-size: 18px;
  }


  .currentConditionItem.pressure .currentConditionItemPressureValue  p{
    font-family: var(--google-mid);
    font-size: 34px;
    color: var(--On-Surface);
    margin: 0;
  }

  .currentConditionItem.pressure .currentConditionItemPressureValue span{
      color: var(--On-Surface-Variant);
  }

  /* visiibility */

.currentConditionItem.visibility{
    background-color: var(--Surface-Container-Low);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

  }

  .currentConditionItem.visibility .currentConditionItemVisibilityValue{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .currentConditionItem.visibility .currentConditionItemVisibilityValue p{
    margin: 0;
    color: var(--On-Primary-Inverse);
    font-family: var(--google-mid);
    font-size: 45px;
    display: flex;
    align-items: flex-end;
    gap: 5px;

  }

  .currentConditionItem.visibility .currentConditionItemTitle.visibility{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: var(--On-Primary-Inverse);
    padding-top: 35px;
    font-size: 16px;
    font-family: var(--outfit-mid);
  }

  .currentConditionItem.visibility .currentConditionItemVisibilityValue span{
    font-size: 18px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 17px;
  }


  @media screen and (min-width: 600px){

.daily-conditions-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;
}

  }