<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_mat_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_mat_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherMaster"
        tools:targetApi="33">
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeMainBlackDark"
            android:exported="true"
            />
        <activity
            android:name=".AboutPage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".Terms_Conditions"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".ThirdParty"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".ForecastPage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".AlertPage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".LiveRadar"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".LanguagePage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".humidityCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".pressureCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".sunCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".UVIndexCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".visibilityCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".WindCondition"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".MoonPhases"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".AirQualityConditions"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".SearchPage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".Homelocations"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".WeatherModels"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".ClothingRecommendation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".contributorsPage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".ArrangeItems"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".AppUnitsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ThemeMainBlackDark"
            />
        <activity
            android:name=".MainActivity"
            android:theme="@style/app_theme"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".WeatherWidgetProvider" android:exported="true" android:label="Date + current">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".WidgetProviderPill" android:exported="true" android:label="Current pill">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_pill" />
        </receiver>

        <receiver android:name=".WidgetProviderSquare" android:exported="true" android:label="Landscape 3x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_square" />
        </receiver>

        <receiver android:name=".WidgetProviderSquareV2" android:exported="true" android:label="Square 3x3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_square_v2" />
        </receiver>
        <receiver android:name=".WidgetProviderRound" android:exported="true" android:label="Current round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_round" />
        </receiver>



    </application>

</manifest>