.md-ripples {
   position: relative;
   overflow: hidden;
  
}

.ripples-bounded .ripple {
   background-color:var(--On-Surface);
   opacity: 0.2;
   animation: ripple3 150ms ease-out !important;
 }


 
 .ripples-inverse .ripple {
  background-color:var(--Inverse-Primary);
  opacity: 0.25;
  animation: ripple2 130ms ease-out !important;
}
 
 .ripples-dialog .ripple {
   background-color:var(--Primary);
   opacity: 0.25;
   animation: ripple 100ms ease-out !important;
 }

 .ripples-full .ripple {
  background-color:var(--Primary);
  opacity: 0.25;
  animation: ripple 130ms ease-out !important;
}
 
 button-outlined .ripple, button-tonal .ripple, text-button .ripple, fab .ripple, fab-small .ripple, fab-large .ripple, button-outlined-i .ripple, button-tonal-i .ripple, text-button-i .ripple{
  background-color:var(--Primary);
  opacity: 0.25;
  animation: ripple2 130ms ease-out !important;
}

button-filled .ripple, button-filled-i .ripple{
 background-color:var(--ripple-bounded);
 opacity: 0.25;
 animation: ripple2 130ms ease-out !important;
}
 
 .ripple {
    background-color: #000;
    position: absolute;
    border-radius: 50%;
      touch-action: none !important;
    pointer-events: none !important;
     animation: ripple 70ms ease-out !important;
 }
 
  /* icon */
 
  .ripple-icon-btn {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: none;
 }
 
  
 .ripple-icon-btn.regular{
   width: 40px;
   height: 40px;
   border-radius: 50px;
   font-size: 24px;
   color: var(--On-Surface);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   flex-shrink: 0;
 }

 .ripple-icon-btn.regular.filled{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--On-Primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Primary);
 }

 .ripple-icon-btn.regular.tonal{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--On-Secondary-Container);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Secondary-Container);
 }

 .ripple-icon-btn.regular.outlined{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--Primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--Outline);
 }

 
 .ripple-icon-btn.regular.primary{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--On-Primary-Container);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Primary-Container);
 }

 .ripple-icon-btn.regular.tertiary{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--On-Tertiary-Container);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Tertiary-Container);
 }

 .ripple-icon-btn.regular.surface{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 24px;
  color: var(--On-Surface);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Surface-Container-High);
 }


 .ripple-effect-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255, 0);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: transform 0.15s, opacity 0.1s;
    pointer-events: none;
 }
 
 
 
 .ripple-icon-btn.touched .ripple-effect-icon {
    transform: scale(1);
    background-color: var(--ripple-unbounded);
    opacity: 0.17;
 
 }
 
 
 
 .ripple-icon-btn.touchedfade .ripple-effect-icon {
   transition: opacity 0.2s, scale 0.2s;
    opacity: 0;
   scale: 1.2;
 
 }

 .ripple-icon-btn[disabled]{
  pointer-events: none;
  color: var(--On-Surface);
  opacity: 0.38;
 }
 

@keyframes ripple {
   from {
     transform: scale(0);
  }
   to {
     transform: scale(1);
  }
}

@keyframes ripple2 {
 0% {
    transform: scale(0.3);

 }
  100% {
    transform: scale(1);

 }
}

@keyframes ripple3 {
  0% {
     transform: scale(0.5);
 
  }
   100% {
     transform: scale(1);
 
  }
 }


/* icon-ripple */


/* <button class="ripple-icon-btn" ontouchstart="playEffect(this)" ontouchend="playEffect2(this)">
       <span class="ripple-effect-icon"></span>
       <span class="icon-class-outlined"></span>
   </button> */