
@font-face {
  font-family: 'Google';
  src: url('../fonts/Product-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Product-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Outfit-mid';
  src: url('../fonts/Product-Medium.ttf') format('truetype');

}


@font-face {
  font-family: 'Google-medium';
  src: url('../fonts/Product-Medium.ttf') format('truetype');

}

/* ---------- */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');

}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto-medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');

}


@font-face {
  font-family: 'Roboto-medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');

}


@font-face {
  font-family: 'Material symbols';
  src: url('../fonts/MaterialSymbols.ttf') format('truetype');
}



[icon-outlined] {
  font-family: 'Material symbols';
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1;

}

[icon-filled] {
  font-family: 'Material symbols';
  font-weight: normal !important;
  font-style: normal !important;
  font-variation-settings: 'FILL' 1;
  line-height: 1;

}

[icon-weight="200"]{
  font-weight: 200 !important;
}


[icon-weight="100"]{
  font-weight: 100 !important;
}