@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');

}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;

}


#App {
  transition: all 0.2s ease-out, opacity 0.2s;

}



body {
  background-color: var(--Secondary-Container);
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: var(--outfit);
  transition: opacity 0.3s ease-out;
  opacity: 0;

}


.header-top {
  padding: 10px;
  height: 45px;
  padding-left: 4px;
  background-color: var(--Surface);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#city-name {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
  white-space: nowrap;
  color: var(--On-Surface);

}

#main-city span {
  font-size: 24px;
  color: var(--Secondary);
}

.main-city {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  overflow: hidden;
}

.header_actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}


.main-weat {
  /* background-color: var(--Secondary-Container); */
  background: linear-gradient(0deg, var(--Secondary-Container) 10%, var(--Surface));

  position: relative;
  height: 180px;
  /* border-radius: 0 0 10px 10px; */
  overflow: hidden;
  transition: opacity 0.2s;

}



.current p {
  margin: 0;
}


.img-div {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  top: 30px;
  border-radius: 100px;
}

.img-div img {
  width: 90px;

}

.temp-main {
  color: var(--Primary);
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 65px;
  width: max-content;
  font-family: var(--google-mid);

}

#temp span {
  font-size: 30px;
  position: absolute;
  top: 3px;
  font-family: var(--google-mid);

}

#temp {
  position: relative;

}

.current {
  position: relative;
  width: max-content;
  height: 100%;
}

.disc-main {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: var(--On-Surface);
  font-size: 25px;
  width: calc(100vw - 170px);

}


.disc-main p {
  width: 100%;
  text-transform: capitalize;
}

.weather_wrap {
  overflow: auto;
  height: calc(100vh - 65px);
  overflow-x: hidden;
}

.weather_wrap::-webkit-scrollbar{
  width: 0;
}



.weather_wrap::before {
  position: fixed;
  bottom: 0;
  content: '';
  width: 100%;
  background: linear-gradient(0deg, var(--Surface) 10%, rgba(255, 0, 0, 0));
  height: 30px;
  z-index: 1;
}



.high-all {
  background-color: var(--Surface);
  margin: 10px;

  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 5px 5px;

  margin-bottom: 5px;
}

.high-mini {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.high-mini .mini {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.high-mini .mini p {
  font-size: 16px;
  color: var(--On-Surface);
}

.high-mini .mini span {
  font-size: 20px;
  color: var(--On-Surface-Variant);
}

.all-24,
.all-5d {
  background-color: var(--Surface);
  margin: 10px;
   margin-top: 5px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-bottom: 0;
}

.all-5d {
  border-radius: 5px 5px 5px 5px;

}

.forecast {
  display: flex;
  overflow: auto;
  gap: 10px;
  margin: 10px;
}

.forecast::-webkit-scrollbar {
  height: 2px;
}

.forecast::-webkit-scrollbar-thumb {
  background-color: var(--Primary);

}


.forecast #forecast24 {
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  flex-shrink: 0;
  /* background-color: var(--Surface-Container-Low); */
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 10px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  margin-bottom: 5px;
  min-width: calc(60px + 2px);
  position: relative;
}



.disc_sml-24 {
  width: calc(100% - 30px);
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  /* background-color: var(--Surface); */
  border-radius: 10px;
  color: var(--On-Surface);
  font-size: 16px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  bottom: 5px;
  max-height: calc(45px - 5px);
  min-height: calc(40px - 5px);

  padding-top: 10px;
  padding-bottom: 5px;

  overflow: auto;

}


.today_Text {
  margin: 0;
}

.h1,
.h2,
.sun_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--On-Surface-Variant);
  border-bottom: 1px solid var(--Outline-Variant);

}

#forecast24 .rain-24 {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--rain);
  margin: 0;
}

.temp-24 {
  margin: 20px 0;
  color: var(--On-Surface);
  margin-bottom: 0;
  font-family: var(--google-mid);
}

.icon-24 {
  width: 35px;
  margin-top: 5px;
}

.time-24 {
  margin-bottom: 5px;
  color: var(--On-Surface-Variant);
  border-bottom: 1px solid var(--Outline-Variant);

}

.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toast {
  background-color: var(--Inverse-Surface);
  color: var(--Inverse-On-Surface);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: toast 0.2s ease-out;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-align: center;
  max-width: 90%;
}

@keyframes toast {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.forecast-5day {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.forecast-5day .forecast-item-forecast {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-end;
  position: relative;
  direction: rtl;
  background-color: rgba(0, 0, 0, 0.247);

  padding: 10px;
  border-radius: 10px;

}

.forecast-5day div:first-child {
  border-radius: 20px 20px 0 0;
}

.forecast-5day div:last-child {
  border-radius: 0 0 20px 20px;

}

.forecast-5day div img {
  position: absolute;
  right: 15px;
  width: 35px;
}

.disc-5d {
  position: absolute;
  right: 80px;
  font-size: 18px;
  color: var(--Secondary);
}

.d5-disc-text {
  margin: 0;
  text-transform: capitalize;
  font-size: 16px;
  font-family: var(--google-normal);
  display: flex !important;
  align-items: flex-end !important;
  flex-direction: column;
  gap: 3px;
  color: var(--On-Surface);
  padding: 3px !important;

}

.d5-disc-text p {
  margin: 0;
  color: var(--On-Surface-Variant);
  font-family: var(--outfit) !important;
  font-size: 16px;
}



.loader-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  transition: opacity 0.3s ease-in;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  z-index: 1000;
  background-color: var(--Surface);
}

#search-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right:0 ;
  display: none;
  background-color: var(--Surface);
  z-index: 10000;
  transition: opacity 0.2s ease-in;
  animation: search_container 0.4s ease-out;
}

@keyframes search_container {
  0% {
   height: 0;
   opacity: 0;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

#search-container .modal-content{
  overflow: auto;
  height: calc(100% - 65px);

}

.main-options {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Outline);
  padding: 10px;
  height: calc(45px - 1px);
  padding-left: 5px;
  background-color: var(--Surface);
  gap: 10px;
  position: relative;
}

.main-options input {
  font-size: 18px;
  background-color: transparent;
  border: none;
  caret-color: var(--caret);
  font-family: var(--google-normal);
  color: var(--On-Surface);
}

.main-options input::selection {
  background-color: var(--Inverse-Primary);
}
.city_loader {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

[hidden] {
  display: none !important;
}

.temp_progress_hold {
  width: 30%;
  right: 20px;
  position: absolute !important;
  bottom: 5px !important;

}

.temp_progress_hold md-linear-progress {
  width: 100%;
  border-radius: 50px;
}

#menu-overLap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.theme_overlay {
  width: 100%;
  height: 100%;
  z-index: 9999999999999999;
  background-color: var(--Surface);
  position: fixed;
  animation: theme_overlay 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes theme_overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#theme_loader {
  --md-circular-progress-size: 100px;
  stroke-linecap: round;
}

.color_item label {
  width: 50px;
  height: 50px;
  background-color: var(--clr);
  display: flex;
  border-radius: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  cursor: grab;
  z-index: 1;
}

.color_item label:active {
  cursor: grabbing;

}

.color_item label::before {
  width: 46px;
  height: 46px;
  z-index: 1;
  background-color: transparent;
  position: absolute;
  border: 2px solid var(--clr);
  content: '';
  opacity: 0;
  border-radius: 50px;
  z-index: 1;


}

.color_item input {
  display: none;
}



.color_item input:checked+label {
  width: 40px;
  height: 40px;
}

.color_item input:checked+label::before {
  opacity: 1;
  scale: 1.06;
}

.color_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 2px;
}

.theme_items {
  display: flex;
  overflow: auto;
  gap: 10px;
  flex-shrink: 0;
  padding: 10px;
}

.theme_items::-webkit-scrollbar {
  height: 2px !important;
}

.theme_items::-webkit-scrollbar-thumb {
  background-color: var(--Outline-Variant) !important;
  border-radius: 50px !important;
}

.theme_selection {
  margin-top: 5px;
  background-color: var(--Surface-Container-Low);
  padding-bottom: 5px;
  padding-top: 5px;
}

.all_air_quality {
  background-color: var(--Surface);
  margin: 10px;
  margin-bottom: 5px;
    margin-top: 0px;

}




.air-quality {
  display: flex;
}

.air-quality .img-div_air img {
  width: 50px;
}

.air-quality .img-div_air {
  width: 70px;
  height: 70px;
  background-color: var(--Secondary-Container);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-right: 0;
  border-radius: 10px;
}

.all_text_air {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}

#aqi-level,
#uv-index {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  margin: 0;
  color: white;
}

#detail_air,
#detail_uv {
  color: var(--On-Surface-Variant);
  font-size: 16px;
}

.icon_24_click {
  margin-top: 5px;
  opacity: 0.3;
  color: var(--On-Surface);
}

.no_internet_error {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--Surface);
}

.no_internet_error .img_wrap404{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:30px;
}

.no_internet_error .text_content_error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.no_internet_error .text_content_error p{
  font-size: 30px;
  color: var(--Error);
}

.no_internet_error .text_content_error span{
  display: block;
  color: var(--On-Surface);
  margin-bottom: 10px;
}

.retry_btn_error{
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 50px;
  justify-content: center;
  padding: 20px;
}

.retry_btn_error button{
  background: var(--Error-Container);
  color: var(--On-Error-Container);
  font-family: var(--outfit);
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;

}

.city-list .suggest {
  font-size: 18px;
  color: var(--On-Surface);
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

suggest-space{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.city-list {
  margin-top: 10px;
}

.city-list .suggest::before {
  content: 'pin_drop';
  font-family: 'Material symbols';
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1;
  color: var(--Secondary);
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: var(--Secondary-Container);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  flex-shrink: 0;
}

.suggest suggesttextcontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 gap: 2px;
}

.suggest suggesttextcontent span{
  color: var(--On-Surface-Variant);
  font-size: 15px;
}

#updated-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 50px;

  color: var(--On-Surface-Variant);
  border-radius: 50px;
}

.not_made_for_pc{
  position: fixed;
  z-index: 2000;
  bottom: 0;
  width: 100%;
  background-color: var(--Error);
  color: var(--On-Error);
  height: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  animation: not_made_for_pc 0.4s cubic-bezier(1,0,0,1);
}


@keyframes not_made_for_pc{
    0%{
      bottom: -100px;
    }
    100%{
      bottom: 0;
    }
}

@media screen and (min-width: 600px){
  .not_made_for_pc{
    display: flex;
  }
  #updated-div{
    margin-bottom: 90px;
  }
}

.froggie img{
  width: 120%;
}

.froggie {
background: linear-gradient(0deg, rgba(255, 0, 0, 0), var(--Secondary-Container) 100%);

}

.cloths{
  display: flex;
  align-items: center;
  background-color: var(--Surface);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cloths div{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--On-Secondary-Container);
  background-color: var(--Secondary-Container);
  flex-shrink: 0;
  border-radius: 10px;
}

#cloth_recommended{
  margin: 0;
  color: var(--On-Surface);
  margin-left: 10px;
}

.currentLocations{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 5px;
}

.currentSearchImg{
  width: 40px;
  height: 40px;
  background-color: var(--Secondary-Container);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  flex-shrink: 0;
}

.currentSearchImg img{
  width: 25px;
}

currentLocationNames{
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

currentLocationNames p{
  margin: 0;
  font-size: 18px;
  color: var(--On-Surface);
}

currentLocationNames span{
  font-size: 16px;
  color: var(--On-Surface-Variant);
    text-transform: capitalize;
}

.fab-holder{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.rainNextHour, .excessiveHeat{
  background-color: var(--Surface);
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 15px;
  font-size: 16px;
  color: var(--On-Surface);
}

.icon-container-rainnextHour, .icon-container-excessiveHeat{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #284777;
  color: #d6e3ff;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}

.rainNextHour span{
  background-color: var(--Surface-Bright);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: var(--On-Surface);
}

.rainNextHour p, .excessiveHeat p{
  margin: 0;
}

.excessiveHeat{
  background-color: var(--Error-Container) !important;
  color: var(--On-Error-Container) !important;
  font-size: 18px;
}

.icon-container-excessiveHeat{
  background-color: var(--Error) !important;
  color: var(--On-Error) !important;
}

.excessiveHeat p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.excessiveHeat p text{
  font-size: 15px;
  font-family: var(--google-normal);
  opacity: 0.9;
}
.excessiveHeat p span{
  font-size: 15px;
  font-family: var(--google-normal);
  opacity: 0.9;
}

suntrack, moontrack{
  background-color: var(--Surface-Container-Highest);
  height: 25px;
  display: flex;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
}



suntrackprogress, moontrackprogress{
  width: 0%;
  height: 100%;
  background-color: orange;
  position: relative;
  transition: width 2s ease-out;
  border-radius: inherit;
}

moontrackprogress{
  background-color: silver;

}

sun{
  width: 50px;
  height: 50px;
  position: absolute;
  background: url('../icons/sun.png');
  right: -30px;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}



/* timings */

.setRiseDivWrap{
  background-color: var(--Surface);
  margin: 10px;
  border-radius: 10px 10px 5px 5px;
}

.wrapTimingdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.timingWrap span{
    font-family: var(--google-mid);
    color: var(--On-Surface-Variant);
    font-size: 15px;
}

.timingItem p{
  margin: 0;
  color: var(--On-Surface);
  font-size: 18px;
}

.currentConditions{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0;
  align-content: center;
  justify-items: center;
  gap: 10px;
}

.currentConditions .currentConditionItem{
  background-color: var(--Surface);
  border-radius: 10px;
  /* width: 160px; */
  width: 100%;
}

.currentConditionItem .currentCondtionLabel{
  padding: 15px;
  color: var(--On-Surface-Variant);
  font-family: var(--google-mid);
}

.currentConditions currentConditonIcon i{
  position: absolute;
  font-size: 23px;
  color: var(--On-Surface);
}

.currentConditions currentConditonIcon{
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
}

.currentConditions currentConditonIcon .md-circle01{
  --md-circular-progress-size: 100px;
  --md-circular-progress-active-indicator-width: 13;
  stroke-linecap: round;
  z-index: 1;
  --md-sys-color-primary: #a7d278;
}

.currentConditions currentConditonIcon .md-circle02{
  --md-circular-progress-size: 100px;
  --md-circular-progress-active-indicator-width: 13;
  stroke-linecap: round;
  --md-sys-color-primary: #c4eed0;
  position: absolute;
}

.currentConditions p{
  padding: 15px;
  color: var(--On-Surface);
  font-size: 20px;
  font-family: var(--google-normal);
  margin: 0;
}

humidityBar{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}


humidityBar humidityBarWrap{
  height: 65px;
  background-color: #fde293;
  width: 35px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
humidityBarWrap humidityBarProgress{
  height: 40%;
  width: 100%;
  background-color: #fbbe11;
  bottom: 0;
  left: 0;
  transition: height 2s ease-in;
  position: absolute;
}

humidityBar span{
  color: var(--On-Surface);
  font-size: 15px;
}

rainMeter{
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0;
  background-color: var(--Surface);
  border-radius: 5px;
  display: block;
  padding-bottom: 10px;
}

rainMeter .todaysAmount{
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

rainMeter .todaysAmount p{
  margin: 0;
  color: var(--On-Surface-Variant);
  font-size: 14px;
  font-family: var(--google-normal);

}


rainMeter .todaysAmount span{
  color: var(--On-Surface);
  font-size: 24px;
  font-family: var(--google-normal);
}


rainMeter noRain{
  font-size: 18px;
  color: var(--On-Surface);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

rainMeterBar rainmeterbaritem{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);

}

rainMeterBar rainmeterbaritem rainperbar{
   /* max-height: 55px;
  min-height: 5px;    */
  height: 60px;
  width: 35px;
  /* border: 1px solid #7cacf8; */
  display: block;
  border-radius: 5px;
  position: relative;

}

rainMeterBar rainmeterbaritem rainperbar rainperbarProgress{
  position: absolute;
  width: 100%;
  height: 5%;
  min-height: 10%;
  background: #4c8df6;
  border-radius: 5px;
  bottom: 0;
  left: 0;
}



rainMeterBar rainmeterbaritem span{
  color: var(--On-Surface-Variant);
  font-size: 14px;
}

rainMeterBar rainmeterbaritem p{
  margin: 0;
  color: var(--On-Surface);
}

rainMeterBar{
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

rainMeterBar::-webkit-scrollbar {
  height: 2px;
}

rainMeterBar::-webkit-scrollbar-thumb {
  background-color: var(--Primary);

}

#map {
  height: 250px;
  border-radius: 10px;
  position: relative;
}

.map_wrap{
  background-color: var(--Secondary-Container);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}

.LiveMapWrap #livemapPreview img{
  border-radius: 5px 5px 10px 10px;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.LiveMapWrap #livemapPreview{
  height: 100px;
}

.LiveMapWrap{
  margin: 10px;
  padding: 10px;
  background-color: var(--Surface);
  border-radius: 5px 5px 10px 10px;
  position: relative;
  margin-top: 0;
}

.LiveMapWrap::before{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  border-radius: inherit;
  content: 'Live map';
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.liveMapScreen{
  width: 100%;
  height: 100%;
  background-color: var(--Surface);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  animation: liveMapScreen 0.3s cubic-bezier(1,0,0,1);
  transition:all 0.3s cubic-bezier(1,0,0,1);

  overflow: hidden;
}

@keyframes liveMapScreen{
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 100%;
  }
}

.liveMapScreen .liveMapHolder #livemap{
  /* height: calc(100% - 60px); */
  height: 100%;
  /* border-radius: 20px; */
  width: 100%;
  z-index: 1;
}


.liveMapHolder{
  display: flex;
  background-color: var(--Surface);
  height: calc(100% - 65px);
  overflow: hidden;
  flex-direction: column;
}

.liveMapScreen .topLiveMapActions{
  display: flex;
  padding: 10px;
  height: 45px;
  background-color: var(--Surface);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liveMapScreen .topLiveMapActions div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.liveMapScreen .topLiveMapActions div p{
  font-size: 20px;
}



.map_Type{
  padding: 10px;
  padding-bottom: 20px;
}

.moonSideWrap{
  display: flex;
  justify-content: space-between;
}

.moonSideWrap .rightWrapMoon img{
  width: 150px;
}

.moonSideWrap .leftWrapMoon .moonPhaseNameWrap{
  padding-left: 20px;
  font-family: var(--google-mid);
  font-size: 20px;
  color: var(--On-Surface);
  padding-top: 10px;
}

.moonSideWrap .leftWrapMoon .moonPhaseNameWrap p{
  margin: 0;
}

.moonSideWrap .leftWrapMoon .moonrise-Set{
  padding-left: 20px;
  padding-top: 20px;
}

.moonSideWrap .leftWrapMoon .moonrise-Set p{
  color: var(--On-Surface-Variant);
}

.moonSideWrap .leftWrapMoon .moonrise-Set span{
  color: var(--On-Surface);
}

/* pressure */

.prssure_area .pressure_progress_bg{
  --md-circular-progress-size: 100px;
  --md-circular-progress-active-indicator-width: 13;
  stroke-linecap: round;
  --md-sys-color-primary: #cee4ff;
  position: absolute;
}

.prssure_area .pressure_progress_main{
  --md-circular-progress-size: 100px;
  --md-circular-progress-active-indicator-width: 13;
  stroke-linecap: round;
  z-index: 1;
  --md-sys-color-primary: #5fb1f8;
}

.prssure_area{
  transform: rotate(215deg);
}

.text_press_lowHigh{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: var(--On-Surface);
  opacity: 0.7;
}


.weatherComments{
  margin: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-top: 5px;
  gap: 10px;
}

.weatherComments::before{
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-radius: 10px;
  opacity: 0.2;
  z-index: -1;
}

.weatherComments .icon-container-weatherComments{
  background-color: var(--Secondary);
  color: var(--On-Secondary);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
}

.weatherComments p{
  margin: 0;
  color: var(--On-Surface);
  font-family: var(--outfit);
  font-size: 15px;
    line-height: 1.5;

}

.severeriskDiv{
  position: relative;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  margin-bottom: 0;
  width: max-content;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
    margin-top: 0;

}

.severeriskDiv p{
  margin: 0;
  color: var(--On-Surface-Variant);
}

.severeriskDiv i{
  font-size: 18px;
}

.severeriskDiv::before{
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-radius: inherit;
  opacity: 0.2;
  z-index: -1;
}